body, ul {
    margin: 0;
    padding: 0;
}

main{
    position: relative;

    display: flex;
    justify-content: space-around;
}

li{
    list-style-type: none;
}

.display-hide{
    display: none;
}

.wrapper-nickname-entry-form{
    position: absolute;
    z-index: 999;
    
    margin: 50px auto;
    padding: 6px;

    width: 200px;
    border: none;
    border-radius: 5px;

    background-color: rgba(145, 164, 201, 0.921);
}

.nickname-entry-form-header{
    display: block;
    margin: 0 auto;

    font: normal 400 14px Helvetica;
}

.nickname-input-field{
    height: 20px;

    margin-top: 5px;

    border: 0;
    border-radius: 2px;

    background-color: #ffffff;
}

.nickname-input-field:focus{
    outline: 2px solid #ffd300;
}

.nickname-entry-form-button{
    margin: 6px auto 0;
    padding: 5px;

    /* width: 100px; */

    border: none;
    border-radius: 3px;

    background-color: #ffd300;
    font: normal 600 12px Helvetica;
    color: #ffffff;
}

.nickname-entry-form-button:focus{
    outline: none;
}

.nickname-entry-form{
    display: flex;
    flex-direction: column;
}

.communication-window{
    display: flex;
    justify-content: space-between;

    margin: 25px auto;
    width: 500px;
}

.chat-wrapper{
    position: relative;
    
    height: 200px;
    width: 200px;
    padding: 5px;
    border-radius: 5px;

    background-color: rgba(145, 164, 201, 0.921);
}

.chat-wrapper-field-msg-btn{
    position: absolute;
    bottom: 0px;
}

.chat{
    /* flex-grow: 1; */
    overflow-y: auto;
}

.chat-user-nickname{
    margin: 0px;
    font: normal 300 11px Helvetica;
}

.sending-time{
    font: normal 200 9px Helvetica;
}

.chat-msg{
    font: normal 200 13px Helvetica;
}

.chat-wrapper-field-msg-btn{
    width: 200px;
    /* display: flex;
    flex-direction: column; */
}

.chat-message{
    box-sizing: border-box;
    width: 100%;
    height: 20px;
    margin-bottom: 2px;

    border: 0;
    border-radius: 2px;

    background-color: #ffffff;
}

.chat-message:focus{
    outline: 2px solid #ffd300;
}

.chat-send{
    margin: 6px auto 0;
    padding: 3px 4px;
    margin: 3px auto 5px;

    border: none;
    border-radius: 3px;

    background-color: #ffd300;
    font: normal 600 12px Helvetica;
    color: #ffffff;
}

.chat-send:focus{
    outline: none;
}

/* .subscriptions, .chat{
    white-space: pre;
} */
